<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <title>Admin - Upside Avenue</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-8">Welcome to Admin Page!</h1>
            <!-- <div class="col-lg-4" sec:authorize="isAuthenticated()">
                <h2>Hello <span sec:authentication="name">Username</span></h2>
            </div> -->
        </div>
        <div>
            <h3><a th:href="@{/register}">Register</a></h3>
        </div>
    </div>
</body>

</html>