<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/imports :: imports(metaTitle='Posts')}">
</head>

<body>
    <nav th:replace="~{fragments/header :: nav}"></nav>

    <div class="container">
        <div class="p-5 mb-4 text-bg-light rounded-3">
            <div class="container-fluid py-5 row">
                <h5 class="display-6 fw-bold col-md-8 col-sm-12 col-lg-10">My Posts</h5>
                <!-- <p class="col-md-8 d-none d-lg-block">
                    Using a series of utilities, you can create this jumbotron, just like the one in previous versions
                    of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.
                </p> -->
                <a class="btn btn-primary col-sm-12 col-md-4 col-lg-2 d-flex justify-content-center align-items-center"
                    th:href="@{/posts/create}" sec:authorize="hasAuthority('USER')">
                    Create
                </a>
            </div>
        </div>
    </div>

    <div th:if="${ not#lists.isEmpty(posts)}" class="container">
        <div class="row">
            <div th:each="post: ${posts}" class="col-md-6 col-lg-4 mb-4">
                <div th:replace="~{fragments/postCard :: postCard(post=${post})}">
                </div>
            </div>
        </div>
    </div>

    <footer th:replace=" ~{fragments/footer :: footer}">
    </footer>


</body>

</html>